/************************** DECLARACION VARIABLES SASS ***************************/
$colorText: #fff;
$colorHover: #0056b3;
$sizeText: 1.6rem;
$sizeTextFooter: 1.4rem;

/************************** BASE *************************************************/
html{
    font-size: 62.5%;
}
body{
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-size: $sizeText;
    font-family: 'Roboto', sans-serif;
    min-width: 32rem;
}

.fondo{
    background-color: #f8f9fa;
}

.formulario-contacto label{
    font-size: $sizeText;
}

.form-row .invalid-feedback{
    font-size: $sizeText;
}

.form-row input{
    font-size: $sizeText;
}

.form-row textarea{
    font-size: $sizeText;
}

.form-row .btn{
    font-size: $sizeText;
}

/* .card{
    height: 70vh;
} */
.card span{
    font-size: $sizeText;
}
 .card-img-top{
    object-fit: cover;
    height: 20rem; 
} 

.vertical-horizontal-align {
    display: flex;
    align-items: center;
    justify-content: center;
}